body {

    background-color: rgb(240, 182, 224);
    margin: 0;
}    

    h1{
        text-align: center;
        color: #9d4edd;
        font-size: 3rem;
        font-family: 'Pacifico', cursive;
        text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
        margin-bottom: 50px;
    }

    h2{
        color: #2d6a4f;
        margin-top: 0px;
        text-align: center;
        font-size: 32px;
        font-family: 'Pacifico', cursive;
    }

    .card{
        background-color: #ffe6f2;
        padding: 20px 35px;
        border-radius: 25px;
        border: 1px solid #f5c2da;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        width: 90%;
        max-width: 1100px;
        margin: 20px auto;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .divider{
        text-align: center;
        font-size: 36px;
        margin: 20px 0;
    }

    p{
        font-size: 18px;
    }

    li{
        font-size: 18px;
    }

    ul{
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .welcome-container {
        position: relative;
        width: 100%;
        margin: 0;
    }

    .welcome-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

    .button-link {
        position: absolute;
        width: 440px;
        height: 90px;
        left: 320px;
        bottom: 70px;
        display: block;
    }